<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="title">
    <title>글작성 페이지</title>
</th:block>

<th:block layout:fragment="content">


<!--    <div class="page_tits">-->
<!--        <h3></h3>-->
<!--        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>자유게시판</span> <span>상세정보</span></p>-->
<!--    </div>-->

    <div class="content" th:object="${review}">
        <section style="box-sizing: border-box; display: flex">
            <div class="review_detail">
                <div class="dt_subject">
                    <h2 th:text="*{subject}"></h2>
                </div>
                <div class="dt_date">
                    <span>
                          Posted
                        <em th:text="*{#temporals.format(createDate, 'MM.dd.yyyy')}"></em>
                    </span>
                    <span>
                          Updated
                        <em th:text="*{#temporals.format(updateDate, 'MM.dd.yyyy')}"></em>
                    </span>
                    <div class="dt_writer">
                        <span>
                              By
                            <em th:text="*{writer.nickName}"></em>
                        </span>
                    </div>
                </div>

                <div class="dt_content">
                    <div th:utext="${@commonUtil.markdown(review.content)}"></div>
                </div>
            </div>
            <div class="access">
                <div class="panel">
                    <div class="panel-heading">
                        Recently Updated
                    </div>
                    <ul class="post_subject" th:each="list: ${recently_review}">
                        <li class="text-truncate">
                            <a th:href="@{|/review/detail/${list.id}|}" th:text="${list.subject}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</html>