<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>리뷰</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>리뷰게시판</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판관리</span> <span>리뷰게시판</span></p>
    </div>
    <div class="content">
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">

    </script>
</th:block>
</html>