<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>리뷰</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>리뷰게시판</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판관리</span> <span>리뷰게시판</span></p>
    </div>
    <div class="content">
        <section>
            <!--/* 검색 */-->
            <div class="search_box">
                <form id="searchForm" method="get" role="form" action="/board/search" onsubmit="return validationCheck()">
                    <div class="sch_group fl">
                        <select id="searchType" name="searchType" title="검색 유형 선택">
                            <option value="">전체 검색</option>
                            <option value="subject">제목</option>
                            <option value="content">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
                        <button type="submit" class="bt_search"  ><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                    </div>
                </form>
            </div>

        <!-- 내용 -->
           <div th:each="page : ${paging}" class="review_dict">
               <a th:href="@{|/review/detail/${page.id}|}">
                   <div class="review_card" style="position:relative;">
                       <div class="review_info">
                           <h1 class="rv_title" th:text="*{page.subject}"></h1>
                           <p class="rv_content" th:text="*{page.content}"></p>
                       </div>
                       <div class="review_date">
                           <i class="far fa-calendar fa-fw me-1"></i>
                           <em th:text="*{#temporals.format(page.createDate, 'MM.dd.yyyy hh:mm')}"></em>

                           <i class="bi bi-hand-thumbs-up" style="margin-left: 20px"></i>
                           <span th:if="${page.getStars() == 0}">
                               <em style="color: lightgray"></em>
                           </span>
                           <span th:unless="${page.getStars() == 0}" th:each="num: ${#numbers.sequence(0, page.getStars()-1)}">
                                <em style="color: rgba(250, 208, 0, 0.99)">★</em>
                           </span>
                       </div>
                       <div>
                           <div th:if="${page.getUrl() != null}" style="position: absolute; right: 3px; bottom: 3px;">
                                <img th:src="*{page.url}" style="width: 220px; height: 150px;border-radius: 10px">
                           </div>
                       </div>
                   </div>
               </a>
           </div>

            <div class="btn_set">
                <!-- 페이징처리 시작 -->
                <div th:if="${!paging.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{|?page=${paging.number-1}|}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                            th:if="${page >= paging.number-4 and page <= paging.number+4}"
                            th:classappend="${page == paging.number+1} ? 'active'"
                            class="page-item">
                            <a th:text="${page}" class="page-link" th:href="@{|?page=${page == 1 ? 0 : page - 1}|}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 페이징처리 끝 -->
            </div>
            <p class="btn_set tr">
                <a th:href="@{/review/write}" class="btns btn_st3 btn_mid">글쓰기</a>
            </p>
        </section>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">

    </script>
</th:block>
</html>