<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>리뷰게시판</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>리뷰 작성</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리뷰게시판</span> <span>글작성</span></p>
    </div>
    <div class="content">
        <section>
           <form id="reviewForm">
               <label th:for="subject"></label>
               <input type="text" id="subject" name="subject" placeholder="제목을 입력하세요.">

               <label th:for="content"></label>
               <textarea id="content" name="content"></textarea>

           </form>

        </section>
    </div> <!--/* .content */-->
</th:block>



<th:block layout:fragment="script">
    <script th:inline="javascript">
        function sumbitListener(){
            if(confirm("게시글을 등록하시겠습니까?"))
                return true;
            else
                return false;
        }
        // 마크 다운에디터
        let simplemde = new SimpleMDE({
            element:document.getElementById("content"),
            tabSize:5,
            placeholder:"내용을 입력하세요.",
            height:1000,

            // previewRender: function(plainText, preview) { // Async method
            //     setTimeout(function(){
            //         preview.innerHTML = customMarkdownParser(plainText);
            //     }, 250);
            //
            //     return "Loading...";
            // },
        });

        // function customMarkerParser(plainText){
        //
        // }

    </script>
</th:block>
</html>