<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>지역</title>
</th:block>



<th:block layout:fragment="content">
    <div id="selectDay">
        <p class="title_p">플래너<i class="title_i">작성</i></p>
        <form id="selectForm">
            <table id="tb">
                <colgroup>  <col style="width:20%;" />  <col style="width:80%;" /></colgroup>
                <tr>
                    <th>
                        <label th:for="title">여행제목 </label>
                    </th>
                    <td colspan="3">
                        <input type="text" id="title" placeholder="여행제목을 입력하세요.">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label th:for="title">여행기간 </label>
                    </th>
                    <td colspan="3">
                        <input type="text" name="datefilter" value="" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label th:for="title">인원 </label>
                    </th>
                    <td colspan="3">
                        <input type="text" id="people">
                    </td>
                </tr>
                <button type="button" onclick="openPlanner()">만들기</button>
            </table>
        </form>
    </div>

    <div id="planner">
        <div class="page_tits">
            <h3>플래너</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>관광지 정보</span> <span>계획작성</span></p>
        </div>
        <div class="contentPlanner">
            <button type="button" id="addEvent" onclick="openPop()">일정추가</button>
            <div id="calender"></div>
        </div>
    </div>

    <div id="addPlan" class="popLayer">
        <div class="pop_container" >
            <div id="menu">
                <h3>위시리스트</h3>
                <ul id="wishList"></ul>
            </div>
            <div id="write">
                <div id="planForm">
                    <p class="title_p" style="border-bottom: 0px solid #0081a4;"><i class="title_i">일정</i>추가</p>
                    <ul>
                        <label>제목</label>
                        <input type="text" name="planNm" id="planNm">
                    </ul>
                    <ul>
                        <label>장소</label>
                        <input type="text" name="planPl" id="planPl">
                    </ul>
                    <ul>
                        <label>시간</label>
                        <input type="text" name="datetimes" id="planTm">
                    </ul>

                    <ul>
                        <label>추가내용</label>
                        <input type="text" name="planCn" id="planCn">
                    </ul>
                    <p class="btn_set">
                        <button type="button" class="btns btn_st2" onclick="addEvent()">추가</button>
                        <button type="button" class="btns btn_bdr2" onclick="closeSignupPopup();">취소</button>
                    </p>
                </div>
            </div>

            <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        let startDate, endDate = "";
        let localCalendar;
        $(document).ready(function() {
            $("#planner").hide()
            $("#selectDay").show()
        })
        $(function() {
            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
                startDate = picker.startDate.format('YYYY-MM-DD')
                endDate = picker.endDate.format('YYYY-MM-DD')
            });

            $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
                startDate, endDate = "";
            });

            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                locale: {
                    format: 'YYYY-MM-DDThh:mm:ss'
                }
            });

        });
        function validationCheck(){
            const selectForm = document.getElementById("selectForm")
            let formInput = selectForm.querySelectorAll('input[type="text"]')

            for (let i = 0; i < formInput.length; i++){
                if(formInput[i].value == ""){
                    $(formInput[i]).focus();
                    alert("필수입력 값들을 입력 하세요.")
                    return false;
                }
            }
            return true;

        }

        // Planner
        function getWishList(){
            $.ajax({
                type: 'get',
                async: false, //비동기
                url: '/kakao/wishes',
                success:function (response){
                    if(response === null)
                        return false;

                    console.log(response)
                    for(let wish of response)
                        appendList(wish);
                }
            })
        }
        function appendList(result){
            const wishList = document.getElementById("wishList");
            let content = createContent(wishList.childElementCount, result); // wishList에 추가할 부분.

            let element= document.createElement("li")
            element.innerHTML = content;
            element.className = "item";

            wishList.appendChild(element);
        }
        function createContent(index, item) {
            let content =
                '    <div class="place_info">' +
                '        <div class="button_set">' +
                '           <button type="button" class="set_button" onclick="setPlan('+index+')">선택</button>' +
                '       </div>' +
                '        <div class="title">' +
                '               <strong style="color: #258fff;">' + index + '</strong>' +
                '               <a href=' + item.place_url + '><strong>' + item.place_name + '</strong></a>' +
                '        </div>' +
                '        <div class="body">' +
                '            <div class="desc">' +
                '                <p class="ellipsis">' + item.road_address_name + '</p>' +
                '                <p class="jibun" style="color: lightgrey">' + item.address_name + '</p>' +
                '                <span style="color: #00bc8c">' + item.phone + '</span>' +
                '                <span><a class="link" href=' + item.place_url + '>상세보기</a></span>' +
                '            </div>' +
                '        </div>' +
                '    </div>';
            return content;
        }
        function diff(){
            let startDay = new Date(startDate), endDay = new Date(endDate);
            let diff = Math.abs(endDay.getTime() - startDay.getTime());
            diff = Math.ceil(diff / (1000 * 60 * 60 * 24));
            return diff;
        }
        function openPlanner(){
            if(!validationCheck()){
                return false;
            }
            $("#planner").show()
            $("#selectDay").hide()
            let duration = diff();

            const calenderEl = document.getElementById("calender")
            const calender = new FullCalendar.Calendar(calenderEl, {
                initialView: 'timeGridSelectDay',
                initialDate : startDate,
                duration: { days: duration+1},
                visibleRange:{
                    start : startDate,
                    end : endDate,
                },
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'timeGridSelectDay,timeGridDay'
                },
                views: {
                    timeGridSelectDay: {
                        type: 'timeGrid',
                        duration: {days: duration+1},
                        buttonText: '전체'
                    },
                    timeGridDay: {
                        buttonText: '날짜',
                    }
                },
                select : function(info) {
                    if(confirm("일정을 추가하시겠습니까?")) {
                        openPop();
                        //시간 추가.
                        const planForm = document.getElementById("planForm")
                        let planTm = planForm.querySelector('#planTm')
                        planTm.value = info.startStr + "~" + info.endStr

                        return true;
                    }
                    else
                        return false;
                },
                allDaySlot: false, // allday 삭제
                // locale: 'ko', // 한국어 설정.
                editable: true, // 수정 가능
                selectable: true,

            })
            localCalendar = calender;
            localCalendar.render()
        }

        function setPlan(index){
            const wish = document.querySelectorAll("#wishList .item")[index]

            let planPl = document.getElementById("planPl") // 일정 장소이름.
            planPl.value = wish.querySelector(".title > a").text
            console.log(wish.querySelector(".title > a > strong").text)
        }

        function addEvent(){
            const planForm = document.getElementById("planForm")
            const eventNm = planForm.querySelector("#planNm").value,
                planTm = planForm.querySelector("#planTm").value;

            let asd = planTm.split("~"),
            s = asd[0], e = asd[1]

            localCalendar.addEvent({
                title: eventNm,
                start : s,
                end : e
            });
            closeSignupPopup();
        }

        // pop 띄우기
        function openPop(){
            layerPop('addPlan')
            getWishList();
        }
        function closeSignupPopup(){
           layerPopClose()
        }

    </script>
</th:block>
</html>