<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>지역</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>위시리스트</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>관광지 정보</span> <span>위시리스트</span></p>
    </div>
    <div class="contentMain">
        <p></p>

        <div class="map_wrap ">

            <div id="map"></div>

            <div class="custom_typecontrol radius_border">
                <span id="btnRoadmap" class="selected_btn" onclick="setSort('accuracy')">정확도순</span>
                <span id="btnSkyview" class="wait_btn" onclick="setSort('distance')">거리순</span>
            </div>

            <div class="map_search">
                <input type="text" name="kw" id="kw" placeholder="장소, 주소 검색" >
                <span>
                    <button id="searchBtn" type="button" onclick="getJson()">
                         <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>

            <!-- 위시리스트 추가하는 부분.-->
            <div id="menu_wrap" class="bg_white">
                <ul id="wishList"></ul>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function (){
           $.ajax({
               type: 'get',
               async: false, //비동기
               url: '/kakao/wishes',
               success:function (response){
                   if(response === null)
                       return false;

                   console.log(response)
                   for(let wish of response)
                        appendList(wish);
               }
           })
        });
        let markers = [];
        let lat = 35.137922,  lng = 129.055628, sort, selected_item;
        let container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

        //지도를 생성할 때 필요한 기본 옵션
        let options = {
            center: new kakao.maps.LatLng(lat, lng), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        let map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
        /* `엔터`입력시 작동.*/
        $("#kw").keyup(function (e){
            if(e.which ===13)
                getJson();
        })
        $(document).ready(function (){

        })

        // input값 validation check
        function validationCheck(){
            const input = document.getElementById("kw")

            if(input.value==""){
                $(input).focus();
                alert("장소, 주소를 입력해주세요.")
                return false;
            }
            else
                return true;
        }

        /* rest api get 결과*/
        function getJson(){
            if(!validationCheck())
                return false;
            const searchFormInput = document.getElementById("kw")

            $.ajax({
                type: "get",
                async: false,
                url: "/kakao/keyword",
                data:{
                    kw : searchFormInput.value,
                    sort: sort,
                    lng: lng,
                    lat: lat
                },
                success:function (result){
                    removeMarker()
                    addMarker(result)
                },
            })
        };
        function changeActive(sort){
            let accuracy = document.getElementById("btnRoadmap")
            let distance = document.getElementById("btnSkyview")
            if(sort == "accuracy"){
                accuracy.className = "selected_btn";
                distance.className = "wait_btn";
            }
            else{
                accuracy.className = "wait_btn";
                distance.className = "selected_btn";
            }
        }
        function setSort(sort){
            const kw = document.getElementById("kw")
            this.sort = sort;
            changeActive(sort)
            if(kw.value == ""){
                return false;
            }
            else{
                $.ajax({
                    type: 'get',
                    async: false,
                    dataType: 'json',
                    url: "/kakao/keyword",
                    data:{
                        kw : kw.value,
                        sort: sort,
                        lat : lat,
                        lng : lng
                    },
                    success:function (result){
                        removeMarker()
                        addMarker(result)
                    },
                });
            }

        }
        function addList(){
            console.log(JSON.stringify(selected_item))
            $.ajax({
                type:'post',
                async:false,
                dataType: 'json',
                url: "/kakao/add",
                data:{
                    item:JSON.stringify(selected_item)
                },
                success:function (result){
                    appendList(result);
                }
            })

        }
        function appendList(result){
            const wishList = document.getElementById("wishList");
            let content = createCotent(result); // wishList에 추가할 부분.

            let element= document.createElement("li")
            element.innerHTML = content;
            element.className = "item";

            wishList.appendChild(element);
        }
        function removeList(){
            const wishList = document.getElementById("wishList");
        }

        // 마커 중심 좌표 재설정.
        function resetCenter(latLng){
            lat = latLng.getLat();
            lng = latLng.getLng();
        }


        // 선택한 마커 중심으로 검색.
        var imageSrc = 'https://cdn-icons-png.flaticon.com/512/5737/5737612.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(45, 51), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
        let newMarker = new kakao.maps.Marker({
            position:  map.getCenter(),
            image:markerImage

        });
        newMarker.setMap(map)
        //사용자가 클릭시 메소드
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
            let latlng = mouseEvent.latLng;
            resetCenter(latlng)

            newMarker.setPosition(latlng)

        });
        var newMarkerInfoWindow = new kakao.maps.InfoWindow({
            content:'현재 위치입니다.' +'<br>'+'선택한 지점 기준으로 검색합니다.',
            zIndex:1,
        });
        kakao.maps.event.addListener(newMarker, 'mouseover', function(mouseEvent) {
            newMarkerInfoWindow.open(map, newMarker);
        });
        kakao.maps.event.addListener(newMarker, 'mouseout', function(mouseEvent) {
            newMarkerInfoWindow.close()
        });


        // 마커가 표시될 위치입니다
        function makerPosition(markerPosition){
            let marker = new kakao.maps.Marker({
                position: markerPosition
            });
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 생성된 마커를 배열에 추가합니다
            markers.push(marker);
            return marker;
        }

        // 마커 전부 지우기.
        function removeMarker() {
            for ( let i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }
            markers = [];
        }
        // 마커를 추가하고, 화면 상태 재설정
        function addMarker(result){
            let bounds = new kakao.maps.LatLngBounds();
            for(let i = 0; i < result.length; i++){
                let markerPosition  = new kakao.maps.LatLng(result[i].y, result[i].x);
                let marker = makerPosition(markerPosition)
                bounds.extend(markerPosition);

                kakao.maps.event.addListener(marker, "click", function (){
                    overlay.setContent(displayInfowindow(result[i]));

                    overlay.setPosition(marker.getPosition());
                    overlay.setMap(map)
                })
            }
            map.setBounds(bounds);
        }

        /* 마커 info*/
        // 마커를 클릭했을 때 정보를 표출할 인포윈도우를 생성합니다
        var overlay = new kakao.maps.CustomOverlay({
            zIndex:1,
            map:map,
        });



        // 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 정보를 표시합니다
        function displayInfowindow(item) {
            selected_item = item;
            let content ='<div class="wrap">' +
                '    <div class="info">' +
                '        <div class="title">' +
                item.place_name+
                '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                '        </div>' +
                '        <div class="body">' +
                '            <div class="img">' +
                '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                '           </div>' +
                '            <div class="desc">' +
                '                <p class="ellipsis">' + item.road_address_name +'</p>' +
                '                <p class="jibun" style="color: lightgrey">'+ item.address_name +'</p>' +
                '                <p style="color: #00bc8c">'+ item.phone +'</p>' +
                '                <a class="link" href='+item.place_url+'>홈페이지</a>' +
                '            </div>' +
                '            <div class="btn_set">' +
                '               <button type="button" class="btn btn-outline-secondary" onclick="addList()">추가</button>'
            '            </div>'
            '        </div>' +
            '    </div>' +
            '</div>';

            return content;
        }
        function createCotent(item) {
            selected_item = item;
            let content ='<div class="child">' +
                '    <div class="info" style="background-color: white">' +
                '        <div class="title">' +
                item.place_name+
                '        </div>' +
                '        <div class="body" style="height: 100px">' +
                '            <div class="img">' +
                '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                '           </div>' +
                '            <div class="desc">' +
                '                <p class="ellipsis">' + item.road_address_name +'</p>' +
                '                <p class="jibun" style="color: lightgrey">'+ item.address_name +'</p>' +
                '                <p style="color: #00bc8c">'+ item.phone +'</p>' +
                '                <a class="link" href='+item.place_url+'>홈페이지</a>' +
                '            </div>' +
                '            <div class="btn_set" style="bottom:50px;">' +
                '               <button type="button" class="btn btn-outline-secondary" onclick="removeList()">제거</button>'
            '            </div>'
            '        </div>' +
            '    </div>' +
            '</div>';

            return content;
        }

        function closeOverlay(){
            overlay.setMap(null);
        }


    </script>
</th:block>
</html>