<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>지역</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>관광지 정보</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>관광지 정보</span> <span>위시리스트</span></p>
    </div>
    <div class="contentMain">

        <div>
            <label for="kw">키워드 </label>
            <input type="text" name="kw" id="kw" placeholder="장소, 주소 검색" >
            <button id="searchBtn" type="button">검색하기</button>
        </div>
        <div class="map_wrap ">

            <div id="map"></div>

            <div id="menu_wrap" class="bg_white">
            </div>
        </div>

        <div th:if="${#lists.size(keywordList) != 0}" th:each="item : ${keywordList}">
            <ul>
                <li>
                    <p th:text="${item.place_name}"></p>
                    <p th:text="${item.address_name}"></p>
                    <p th:text="${item.road_address_name}"></p>
                    <p th:text="${item.phone}"></p>
                    <p th:text="${item.x}"></p>
                    <p th:text="${item.y}"></p>
                    <p th:text="${item.phone}"></p>
                    <p th:text="${item.place_url}"></p>
                    <p th:text="${item}"></p>

                </li>
            </ul>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        let markers = [];

        let container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        let options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(35.137922, 129.055628), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        let map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴



        // 마커가 표시될 위치입니다
        function makerPosition(y, x){
            let markerPosition  = new kakao.maps.LatLng(y, x);
            let marker = new kakao.maps.Marker({
                position: markerPosition
            });
            marker.setMap(map);
            markers.push(marker);
            return marker;
        }

        function removeMarker() {
            for ( let i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }
            markers = [];
        }
        function asd(result){
            for(let i = 0; i < result.length; i++){
                makerPosition(result[i].y, result[i].x)
            }
        }
        function validationCheck(){
            const input = document.getElementById("kw")

            if(input.value==""){
                $(input).focus();
                alert("장소, 주소를 입력해주세요.")
                return false;
            }
            else
                return true;
        }
        $("#kw").keyup(function (e){
            if(e.which ===13)
                getJson();
        })
       function getJson(){
            if(!validationCheck())
                return false;
            const searchFormInput = document.getElementById("kw")
            const kw = searchFormInput.value;
            console.log(kw)
            $.ajax({
                type: "get",
                async: false,
                url: "/kakao/keyword",
                data:{
                    kw : kw
                },
                success:function (result){
                    removeMarker()
                    if(result.size == 0)
                        alert("검색 결과가 없습니다.");
                    console.log(result)
                    asd(result)
                },
                fail: function (request, status, error){
                    console.log(request)
                    console.log(status)
                    console.log(error)
                }
            })
        };

    </script>
</th:block>
</html>