<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>지역</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>관광지 정보</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>관광지 정보</span> <span>위시리스트</span></p>
    </div>
    <div class="contentMain">


        <div class="map_wrap ">

            <div id="map"></div>

            <div class="custom_typecontrol radius_border">
                <span id="btnRoadmap" class="accuracy" onclick="setSort('accuracy')">정확도순</span>
                <span id="btnSkyview" class="distance" onclick="setSort('distance')">거리순</span>
            </div>

            <div class="map_search">
                <input type="text" name="kw" id="kw" placeholder="장소, 주소 검색" >
                <span>
                    <button id="searchBtn" type="button" onclick="getJson()">
                         <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>

            <!-- 위시리스트 추가하는 부분.-->
            <div id="menu_wrap" class="bg_white">
            </div>
        </div>

        <div th:if="${#lists.size(keywordList) != 0}" th:each="item : ${keywordList}">
            <ul>
                <li>
                    <p th:text="${item.place_name}"></p>
                    <p th:text="${item.address_name}"></p>
                    <p th:text="${item.road_address_name}"></p>
                    <p th:text="${item.phone}"></p>
                    <p th:text="${item.x}"></p>
                    <p th:text="${item.y}"></p>
                    <p th:text="${item.phone}"></p>
                    <p th:text="${item.place_url}"></p>
                    <p th:text="${item}"></p>

                </li>
            </ul>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        let markers = [];
        let lat = 35.137922; let lng = 129.055628;
        let container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스

        //지도를 생성할 때 필요한 기본 옵션
        let options = {
            center: new kakao.maps.LatLng(lat, lng), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        let map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴


        // input값 validation check
        function validationCheck(){
            const input = document.getElementById("kw")

            if(input.value==""){
                $(input).focus();
                alert("장소, 주소를 입력해주세요.")
                return false;
            }
            else
                return true;
        }

        /* rest api get 결과*/
        function getJson(){
            if(!validationCheck())
                return false;
            const searchFormInput = document.getElementById("kw")
            const kw = searchFormInput.value;

            $.ajax({
                type: "get",
                async: false,
                url: "/kakao/keyword",
                data:{
                    kw : kw
                },
                success:function (result){
                    removeMarker()
                    if(result.size == 0) {
                        alert("검색 결과가 없습니다.");
                        return false;
                    }
                    addMarker(result)
                },
                fail: function (request, status, error){
                    console.log(request)
                    console.log(status)
                    console.log(error)
                }
            })
        };

        function setSort(sort){
            const kw = document.getElementById("kw")
            if(kw.value == ""){
                return false;
            }
            else{
                $.ajax({
                    type: 'get',
                    async: false,
                    dataType: 'json',
                    url: "/kakao/keyword",
                    data:{
                        kw : kw.value,
                        sort: sort,
                        lat : lat,
                        lng : lng
                    },
                    success:function (result){
                        removeMarker()
                        if(result.size == 0) {
                            alert("검색 결과가 없습니다.");
                            return false;
                        }
                        addMarker(result)
                    },
                    fail: function (request, status, error){
                        console.log(request)
                        console.log(status)
                        console.log(error)
                    }
                });
            }

        }

        /* `엔터`입력시 작동.*/
        $("#kw").keyup(function (e){
            if(e.which ===13)
                getJson();
        })


        // 마커가 표시될 위치입니다
        function makerPosition(markerPosition){
            let marker = new kakao.maps.Marker({
                position: markerPosition
            });
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 생성된 마커를 배열에 추가합니다
            markers.push(marker);
            return marker;
        }

        // 마커 전부 지우기.
        function removeMarker() {
            for ( let i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }
            markers = [];
        }
        // 마커를 추가하고, 중심좌표를 재설정.
        function addMarker(result){
            let bounds = new kakao.maps.LatLngBounds();
            for(let i = 0; i < result.length; i++){
                let markerPosition  = new kakao.maps.LatLng(result[i].y, result[i].x);
                let marker = makerPosition(markerPosition)
                bounds.extend(markerPosition);

                kakao.maps.event.addListener(marker, "click", function (){
                    displayInfowindow(marker, result[i]);
                })
            }
            map.setBounds(bounds);
        }



        /* 마커 info*/
        // 마커를 클릭했을 때 정보를 표출할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            zIndex:1,
            removable: true
        });

        // 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 정보를 표시합니다
        function displayInfowindow(marker, item) {
            let content =
                '<div  style="padding:5px; z-index: 1; ">' +
                    '<h5>'+ item.place_name + '</h5>'
            if(item.road_address_name){
                content +=  '<p>' + item.road_address_name +'</p>'+
                            '<p class="jibun" style="color: lightgrey">' + item.address_name +'</p>';
            }else{
                content+=   '<p>' + item.address_name +'</p>';
            }
            content +='<p style="color: #00bc8c">' + item.phone +'</p>' +
                + '</div>';


            infowindow.setContent(content);
            infowindow.open(map, marker);

        }


    </script>
</th:block>
</html>