<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/MainLayout}">
<th:block layout:fragment="title">
    <title>Travel</title>
</th:block>
<th:block layout:fragment="content">
    <div class="contentMain">

        <div class="leftContent">
            <h2 class="text-center">자유게시판</h2>
            <div class="sort">
                <a>조회순</a>
                <a>추천순</a>
            </div>

            <div class="listView">
                <ul  th:each=" board : ${boardList}">
                    <li>
                    <span  class="text-center">
                        <span th:text="${board.subject}"></span>
                        <span style="color: #cc0000" th:text="|+${#lists.size(board.commentBoardList)}|"></span>
                    </span>
                        <span th:text="${#lists.size(board.likeVote)}"></span>
                        <span th:text="${board.view}"></span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="rightContent" >
            <h2 class="text-center">리뷰게시판</h2>
            <div class="sort">
                <a>조회순</a>
                <a>추천순</a>
            </div>

            <div class="listView">
                <ul  th:each=" board : ${boardList}">
                    <li>
                    <span  class="text-center">
                        <span th:text="${board.subject}"></span>
                        <span style="color: #cc0000" th:text="|+${#lists.size(board.commentBoardList)}|"></span>
                    </span>
                        <span th:text="${#lists.size(board.likeVote)}"></span>
                        <span th:text="${board.view}"></span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</th:block>
</html>