<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/MainLayout}">
<th:block layout:fragment="title">
    <title>Travel</title>
</th:block>
<th:block layout:fragment="content">
    <div class="contentMain">
        <h5>section을 이용??</h5>
        <div>
            <img src="/images/title.png" width="100%">
        </div>
        <div class="leftContent">
            <h2 class="text-center">자유게시판</h2>
            <div class="sort">
                <a th:classappend="${#strings.equals(param.boardSort, 'view')} ? 'active'" th:href="@{|?boardSort=view|}">조회순</a>
                <a th:classappend="${#strings.equals(param.boardSort, 'vote')} ? 'active'" th:href="@{|?boardSort=vote|}">추천순</a>
            </div>
            <div class="listView">
                <ul  th:each=" board : ${boardList}">
                    <li>
                        <span  class="text-center">
                            <span style="color: lightblue" th:text="${board.noticeYn == false ? '[자유]  ' : '[공지] '}"></span>
                            <span th:text="${board.subject}"></span>
                            <span style="color: #cc0000" th:text="| +${#lists.size(board.commentBoardList)}|"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightContent" >
            <h2 class="text-center">####</h2>
            <div class="sort">
                <a th:classappend="${#strings.equals(param.reviewSort, 'view')} ? 'active'" th:href="@{|?reviewSort=view|}">조회순</a>
                <a th:classappend="${#strings.equals(param.reviewSort, 'vote')} ? 'active'" th:href="@{|?reviewSort=vote|}">추천순</a>
            </div>

            <div class="listView">
                <ul >
                    <li>

                    </li>
                </ul>
            </div>
        </div>

        <div >

        </div>

    </div>

</th:block>

</html>