<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/MainLayout}">
<th:block layout:fragment="title">
    <title>Travel</title>
</th:block>
<th:block layout:fragment="content">
    <div class="contentMain">
        <div class="leftCotent" style="background-color: #e4f7ba">
            <h2>asd</h2>

        </div>
        <div class="rightContent" style="background-color: #b4b4b4">
            <h2>asd</h2>

        </div>
    </div>

</th:block>
</html>