<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="title">
    <title>글작성 페이지</title>
</th:block>

<th:block layout:fragment="content">


    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>자유게시판</span> <span>상세정보</span></p>
    </div>

    <div class="content" th:object="${board}">
        <section>
            <table class="tb tb_row">
                <colgroup>
                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">글 유형</th>
                    <td th:text="${board.noticeYn == false ? '자유' : '공지'}"></td>

                    <th scope="row">등록일</th>
                    <td th:text="*{#temporals.format(createDate, 'yyyy-MM-dd HH:mm' )}"></td>
                </tr>

                <tr>
                    <th scope="row">제목</th>
                    <td>[[ *{subject} ]]</td>

                    <th scope="row">조회</th>
                    <td colspan="3">[[ *{view} ]]</td>
                </tr>
                <tr>
                    <th scope="row">닉네임</th>
                    <td colspan="3">[[ *{writer.nickName} ]]</td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td colspan="3">
                        <div th:utext="${@commonUtil.markdown(board.content)}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="btn_set">
                <a th:href="@{|/board/update/${board.id}|}" class="btns btn_bdr4 btn_mid"
                   sec:authorize="isAuthenticated()"
                   th:if="${board.writer != null and  #authentication.getPrincipal().getUsername() == board.writer.email}"
                   th:text="수정"></a>
                <a  th:href="@{|/board/delete/${board.id}|}" class="btns btn_bdr1 btn_mid"
                    sec:authorize="isAuthenticated()"
                    th:if="${board.writer != null and  #authentication.getPrincipal().getUsername() == board.writer.email}"
                    onclick="return deleteConfirm()"
                    th:text="삭제"></a>
                <a th:href="@{/board/list}" class="btns btn_bdr3 btn_mid">뒤로</a>
            </p>
            <p class="btn_set">
                <a href="#" class="vote btn" id="like"
                   th:data-uri="@{|/board/like/${board.id}|}">
                    <span style="font-size: 25px; color: tomato">
                        <i class="fas fa-regular fa-thumbs-up"></i>
                    </span>
                    <span class="badge bg-danger" th:text="${#lists.size(board.likeVote)}"></span>
                </a>
                <a href="#" class="vote btn" id="hate"
                   th:data-uri="@{|/board/hate/${board.id}|}">
                     <span style="font-size: 25px; color: Dodgerblue">
                        <i class="fas fa-regular fa-thumbs-down"></i>
                    </span>
                    <span class="badge bg-primary" th:text="${#lists.size(board.hateVote)}"></span>
                </a>
            </p>


            <!-- 댓글 부분-->
            <div class="cm_write">
                <form method="post" th:action="@{|/comment/create/${board.id}|}"role="form" th:object="${commentBoardFormDto}" onsubmit="return cmCheck()">
                    <div class="cm_input">
                        <textarea sec:authorize="isAnonymous()" readonly rows="6" placeholder="내용을 입력해주세요."></textarea>
                        <textarea id="textBox" maxlength="300" th:field="*{content}" placeholder="내용을 입력해주세요."
                                  sec:authorize="isAuthenticated()"  rows="6"></textarea>
                        <span>
                            <i id="counter">0/300</i>
                            <button type="submit" class="btns">등 록</button>
                        </span>
                    </div>
                </form>
            </div>

            <!-- 내용 부분 -->
            <div class="cm_list">
                <div th:if="${#lists.size(board.commentBoardList) == 0}">
                    <p  class="cm_none" >댓글이 없습니다.</p>
                </div>

                <div th:unless="${#lists.size(board.commentBoardList) == 0}" th:each="comment: ${board.commentBoardList}">
                    <span class="writer_img">
                        <img th:src="${comment.writer.url}" width="30px" height="30px">
                    </span>
                    <p class="writer">
                        <em th:text="${comment.writer.nickName}"></em>
                        <span class="date" th:text="${#temporals.format(comment.updateDate, 'yyyy-MM-dd HH:mm') }"></span>
                        <a href="#" id="commentLike" class="bt bt-outline-secondary"
                           th:data-uri="@{|/comment/like/${comment.id}}|">
                            추천
                            <span class="badge bg-secondary" th:utext="${#lists.size(comment.vote)}"></span>
                        </a>
                    </p>
                    <div class="cont">
                        <span class="txt_con" th:text="${comment.content}"></span>
                    </div>

                    <p class="func_btns" sec:authorize="isAuthenticated()"
                       th:if="${comment.writer != null and #authentication.getPrincipal().getUsername == comment.writer.email}">
                        <button type="button" class="btns btn_bdr4 btn_mid" th:onclick="|openPop(${comment.id})|">수정</button>
                        <button type="button" class="btns btn_bdr4 btn_mid" th:onclick="|return deleteCommentConfirm(${comment.id})|">삭제</button>
                    </p>

<!--                    <div class="cm_answer">-->
<!--                        <div>-->
<!--                            <span class="writer_img">-->
<!--                                <img src="/images/default_profile.png">-->
<!--                            </span>-->
<!--                            <p class="writer">-->

<!--                                asd-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
    </div> <!--/* .content */-->




    <!-- 댓글 수정 팝업창.  -->
    <div id="commentPop" class="popLayer">
        <h3>수정</h3>
        <div id="popup_wrap">
            <div class="pop_container">
                <form id="commentUpdateForm" onsubmit="return commentCheck();">
                    <input type="hidden" id="commentId">
                    <table class="tb tb_row">
                        <colgroup>
                            <col style="width:30%;" /> <col style="width:70%;" />
                        </colgroup>
                        <tr>
                            <th>작성자</th>
                            <td>
                                <input type="text" id="updateWriter" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <div class="scroll_cont" >
                                    <textarea id="updateContent" name="updateContent"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p class="btn_set">
                        <button type="submit" class="btns btn_bdr4 btn_mid" sec:authorize="isAuthenticated()"
                           th:if="${board.writer != null and  #authentication.getPrincipal().getUsername() == board.writer.email}"
                           th:text="수정">
                        </button>
                        <button class="btns btn_bdr3 btn_mid" onclick="closeSignupPopup()">취소</button>
                    </p>
                </form>
            </div>
        </div>
        <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
    </div> <!-- 댓글 수정 -->
    </th:block>
    </html>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
    function deleteConfirm(){
        if(confirm("정말로 삭제하시겠습니까?"))
            return true;
        else
            return false;
    }

    const votebtn = document.getElementsByClassName("vote")
    Array.from(votebtn).forEach(function (element){
       element.addEventListener("click", function (){
           console.log(element.id)
           if(element.id == "like"){
               console.log("들어옴")
               if(confirm("좋아요를 누르시겠습니까?"))
                   location.href=this.dataset.uri;
               else
                   return false;
           }
           else{
               if(confirm("싫어요를 누르시겠습니까"))
                   location.href=this.dataset.uri;
               else
                   return false;
           }
       });
    });

    /* 댓글 textarea 부분 */
    function cmCheck(){
        if(confirm("댓글을 등록하시겠습니까?"))
            return true;
        else
            return false;
    }

    $("#textBox").keyup( function (e){
        const content = $(this).val();

        const counter = document.getElementById("counter");
        counter.value = content.length+"/300";
        counter.innerHTML = content.length+"/300";

    })


    /* 댓글 수정 팝업 창*/
    function openPop(id){
        $.ajax({
            type:"get",
            async:false,
            dataType:"json",
            url: '/comment/update/'+id,
            success: function (result){
                document.getElementById("commentId").value = id;
                document.getElementById("updateWriter").value = result.nickName;
                document.getElementById("updateContent").value = result.content;
                layerPop("commentPop");
            },
            error: function (request, status, error){
                console.log(request)
                console.log(status)
                console.log(error)
            }
        })
    }
    /* 수정창 닫기*/
    function closeSignupPopup(){
        document.getElementById("commentUpdateForm").reset()
        layerPopClose();
    }

    function commentCheck(){
        const commentUpdateForm = document.getElementById("commentUpdateForm");
        const commentId = document.getElementById("commentId");
        console.log(commentId)
        if(validationCheck(commentUpdateForm)){
            if(confirm("수정하시겠습니까?")) {
                commentUpdateForm.action = "/comment/update/" + commentId.value;
                commentUpdateForm.method = 'POST'
                commentUpdateForm.submit();
                return true;
            }
            else
                return false;
        }
        else
            return false;
    }
    /* 댓글 validation */
    function validationCheck(form) {
        let formInput = form.querySelector('textarea')
        if(formInput.value == ""){
            $(formInput).focus();
            alert("필수입력 항목을 입력해주세요.")
            return false;
        }
        else
            return true;
    }

    function deleteCommentConfirm(id){
        if(confirm("댓글을 삭제하시겠습니까?")){
            location.href = "/comment/delete/"+id;
            return true;
        }
        else
            return false;
    }

    /* 댓글 추천 기능 */
    const commentLike = document.getElementsByClassName("bt")
    Array.from(commentLike).forEach(function (element){
        element.addEventListener("click", function (){
            if(confirm("추천하시겠습니까?"))
                location.href=this.dataset.uri;
            else
                return false;
        })
    })
    </script>
</th:block>
</html>