<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}">

<th:block layout:fragment="title">
    <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>자유게시판</span> <span>글작성</span></p>
        </div>
    <div class="content" th:object="${boardFormDto}">
        <section>

            <form id="saveForm" method="post" role="form" action="/board/write" enctype="multipart/form-data" onsubmit=" return sumbitListener();">
                <!--/* 서버로 전달할 공지글 여부 */-->

                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">공지글</th>
                        <td>
                            <input type="checkbox" th:field="*{noticeYn}" class="chk" />
                            <label th:for="noticeYn"> 설정</label>

                        </td>

                        <th scope="row">등록일</th>
                        <td colspan="3"><input type="text" id="createdDate" readonly /></td>
                    </tr>

                    <tr>
                        <th>제목 <span class="es">필수 입력</span></th>
                        <td colspan="3">
                            <input type="text" th:field="*{subject}" maxlength="50" placeholder="제목을 입력해 주세요." />
                        </td>
                    </tr>

                    <tr>
                        <th>첨부파일</th>
                        <td colspan="3"><input name="boardFile" type="file" class="form-control"/></td>
                    </tr>

                    <tr>
                        <th>내용 <span class="es">필수 입력</span></th>
                        <td colspan="3"><textarea id="content" th:field="*{content}" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
                    </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <button type="submit" class="btns btn_st3 btn_mid">저장</button>
                    <button type="button" class="btns btn_bdr3 btn_mid" onclick="location.href='/board/list'">뒤로</button>
                </p>
            </form>

        </section>
    </div> <!--/* .content */-->
</th:block>



<th:block layout:fragment="script">
    <script th:inline="javascript">
    function sumbitListener(){
        if(confirm("게시글을 등록하시겠습니까?"))
            return true;
        else
            return false;
    }

    </script>
</th:block>
</html>