<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/Header :: main-head}"> </head>

<th:block layout:fragment="title">
    <title>회원가입</title>
</th:block>

<th:block layout:fragment="css">
    <style>
        #login_box .signup_btn {
            background:#42d870;
            border:0;
            border-bottom:solid 3px #4ed177;
            border-radius:50px;
            width:100%; height:52px;
            line-height:52px;
            font-size:16px;
            color:#fff;
            text-align:center;
            margin:20px 0 15px;
        }
        #popup_wrap .pop_container tbody tr td img{
            height: 200px;
            width: 200px;
        }
    </style>
</th:block>

<body>

<div layout:fragment="content">

    <div id="login_wrap">
        <div id="login_box">
            <div class="login_con">
                <div class="login_tit">
                    <h2><a href="/">Travel Project</a></h2>
                    <p>Log<i>in</i></p>
                </div>

                <div class="login_input">
                    <form method="post" role="form" th:action="@{/user/login}" id="loginForm">
                        <ul>
                            <li>
                                <label for="email" class="skip_info">아이디</label>
                                <input type="email" name="email" id="email" placeholder="Email">
                            </li>
                            <li>
                                <label for="password" class="skip_info">아이디</label>
                                <input type="password" name="password" id="password" placeholder="Password">
                            </li>
                        </ul>
                        <button type="submit" class="login_btn" onclick="login()">로그인</button>
                        <button type="button" class="signup_btn" onclick="openPop()">회원가입</button>
                    </form>

                </div>
            </div>
        </div>
    </div> <!--login_wrap-->

    <div id="singUpPop" class="popLayer">
        <h3>회원가입</h3>
        <div id="popup_wrap">
           <div class="pop_container" th:object="${userFormDto}">

              <form id="signupForm" method="post" role="form" th:action="@{/board/new}" enctype="multipart/form-data">
                  <table class="tb tb_col">
                      <colgroup>
                          <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                      </colgroup>
                      <tbody>
                          <tr>
                              <th>이름 <span class="es">필수 입력</span></th>
                              <td >
                                  <input type="text" th:field="*{name}" placeholder="이름을 입력해 주세요." />
                              </td>

                              <th >닉네임 <span class="es">필수 입력</span></th>
                              <td >
                                  <input type="text" th:field="*{nickName}" placeholder="닉네임을 입력해 주세요." />
                              </td>

                          </tr>
                          <tr>
                              <th>대표이미지</th>
                              <td>
                                 <img src="/images/default_profile.png" id="image">
                              </td>
                              <td colspan="3">
                                  <input type="file" class="form-control" onchange="changeImage(this)">
                                  <p style="text-align: left">이미지는 나중에 수정할 수 있습니다. <br>jpg, jpeg, png파일을 넣어주세요.</p>
                              </td>
                          </tr>
                          <tr>
                              <th>이메일 <span class="es">필수 입력</span></th>
                              <td colspan="3">
                                  <input type="email" th:field="*{email}" placeholder="이메일을 입력해주세요.">
                              </td>
                          </tr>

                          <tr>
                              <th>비밀번호 <span class="es">필수 입력</span></th>
                              <td colspan="3">
                                  <input type="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요." />
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">주소 <span class="es">필수 입력</span></th>
                              <td colspan="3">
                                  <input type="text" th:field="*{address}" placeholder="주소를 입력해주세요."/>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">성별 <span class="es">필수 입력</span></th>
                              <td colspan="3">
                                  <div class="radio_group" th:field="*{gender}">
                                      <p class="radios">
                                          <input type="radio" id="male" name="gender" value="MAN" checked />
                                          <label for="male">남</label><span class="check"></span>
                                      </p>
                                      <p class="radios">
                                          <input type="radio" id="female" name="gender" value="WOMAN" />
                                          <label for="female">여</label><span class="check"></span>
                                      </p>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <p class="btn_set">
                    <button type="button" class="btns btn_st2" onclick="saveUser()">가입</button>
                    <button type="button" class="btns btn_bdr2" onclick="closeSignupPopup();">취소</button>
                  </p>
              </form>
           </div>
        </div>
        <button type="button" class="btn_close" onclick="closeSignupPopup();"><span><i class="far fa-times-circle"></i></span></button>
    </div> <!--poplayer -->

</div> <!--content-->



<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<th:block layout:fragment="script">
    <script>
        window.onload = () => {
            document.querySelectorAll('#emailId, #password').forEach(element => {
                element.addEventListener('keyup', (e) => {
                    if (e.keyCode === 13) {
                        login();
                    }
                })
            })
        }
        /*외부 영역 클릭시 레이어창 닫기*/
        $(document).mouseup(function (e){
            let layer_container = $(".popLayer")
            if(layer_container.has(e.target).length === 0){
                document.getElementById("signupForm").reset()
                document.getElementById("image").src = "/images/default_profile.png"
                layerPopClose()
            }
        })
        /*로그인*/
        function login(){
            const form = document.getElementById('loginForm');
            if(!form.email.value || !form.password.value ){
                alert("아이디 혹은 비밀번호를 입력해주세요.")
            }
        }

       <!-- ------------------------------------------------------------- -->

        /*회원가입창 띄우기*/
        function openPop(){
            layerPop('singUpPop')
        }
        //회원가입창 지우기
        function closeSignupPopup(){
            document.getElementById("signupForm").reset()
            document.getElementById("image").src = "/images/default_profile.png"
            layerPopClose()
        }
       /*대표 이미지 변경*/
        function changeImage(event){
            let reader = new FileReader();

            reader.onload = (e) => {
                console.log("이미지변경")
                document.getElementById("image").src =e.target.result
            };
            reader.readAsDataURL(event.files[0]);
        }

        <!-- form input 값 제대로 들어있는지 확인.-->
        function validationCheck(form){
            let formInput = form.querySelectorAll('input:not([type="radio"]):not([type="file"])')
            //console.log(formInput);

            for (let i = 0; i < formInput.length; i++){
                console.log("value " + formInput[i].value)
                if(formInput[i].value == ""){
                    $(formInput[i]).focus();
                    alert("필수입력 항목을 입력해주세요.")
                    return null;
                }
            }
            let params ={}
            for(let i = 0; i < formInput.length; i++){
                params[formInput[i].id] = formInput[i].value;
            }
            return params
        }


        /*회원정보 저장*/
        function saveUser(){
            const form = document.getElementById("signupForm");
            const params = validationCheck(form);

            if(params ==null)
                return

            alert('가입을 축하드립니다!\n로그인 후 서비스를 이용해 주세요.');
            closeSignupPopup();
        }

    </script>
</th:block>
</body>

</html>